.buttonPrimary {
  width: 250px;
  height: 30px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: #244d5a;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
}
