#login {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  background: #9053c7;
  background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
  background: linear-gradient(-135deg, #c850c0, #4158d0);

  .container-login {
    width: 60%;
    height: 65%;
    min-height: 300px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 125px;
    align-items: center;
    align-content: center;

    .half-login {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .img-login {
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        height: 10em;
        width: 10em;
      }
    }

    .content-login {
      .titulo {
        text-align: center;
        font-size: 22px;
        margin: 5px 0;
      }

      #formLogin {
        display: flex;
        flex-wrap: wrap;
        width: 450px;
        margin: 5px auto;
        max-width: 100%;

        .itens-form {
          display: flex;
          align-content: flex-start;

          width: 100%;
          margin: 10px 0;
          padding: 0;
          flex-wrap: wrap;
          position: relative;

          label {
            text-align: left;
            width: 100%;
          }

          input {
            border: 1px solid #ccc;
            border-radius: 20px;
            height: 30px;
            width: 100%;
            padding-left: 5px;
          }

          input.error {
            border: 1px solid red;
          }

          .viewPassword {
            position: absolute;
            right: 20px;
            bottom: 4px;
            display: none;
            cursor: pointer;
            align-items: center;
            justify-content: end;

            svg {
              width: 20px;
              height: 20px;
            }
          }
        }

        .half {
          width: 50%;
        }

        .btn-enviar {
          width: 250px;
          height: 30px;
          margin: auto;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 20px;
          background-color: rgb(36, 77, 90);
          color: #fff;
          cursor: pointer;
          transition: 0.5s;
        }

        .btn-enviar:hover {
          transform: scale(1.1);
          transition: 0.5s;
          background-color: #5c09b5;
        }
      }

      .forgotPass {
        width: auto;
        margin: 0 15px 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;

        button {
          cursor: pointer;
          transition: 0.5s;
          background-color: transparent;
          color: #808080;
        }

        button:hover {
          color: #000;
          transition: 0.5s;
          border-radius: 20px;
          font-size: 14px;
        }
      }

      .signUp {
        display: flex;
        justify-content: center;
        margin: 10px auto 5px auto;

        span {
          button {
            cursor: pointer;
            color: #244d5a;
            transition: 0.5s;
          }

          button:hover {
            color: #5c09b5;
            transform: scale(1.2);
            transition: 0.5s;
            margin-left: 10px;
          }
        }
      }
    }
  }
}

@media (max-width: 1400px) {
  #login {
    .container-login {
      width: 70%;
      padding: 0px 50px;

      .content-login {
        #formLogin {
          width: 90%;
        }

        .signUp {
          width: 90%;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  #login {
    .container-login {
      flex-direction: column;
      height: 80%;
      padding: 0 35px;

      .half-login {
        width: 100%;
        height: 50%;
      }

      .img-login {
        height: 40%;
        svg {
          height: 8em;
          width: 8em;
        }
      }

      .content-login {
        .forgotPass {
          margin: 10px 0;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  #login {
    .container-login {
      height: 80%;
      width: 85%;
      padding: 0 15px;

      .half-login {
        height: 60%;
      }

      .img-login {
        height: auto;
        margin: 0px auto 10px;

        svg {
          height: 6em;
          width: 6em;
        }
      }

      .content-login {
        height: 70%;

        .forgotPass {
          margin: 10px 0;
        }

        .signUp {
          span {
            text-align: center;
          }
        }
      }
    }
  }
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}
