#contact {
  .divFormContato {
    height: 75%;
    width: 85%;
    min-height: 300px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 15px auto;
  }

  .redes-sociais {
    width: 100%;
    margin: 5px 0 10px 0;
    display: flex;
    justify-content: center;

    a {
      color: #000;
      margin: 0 10px;

      svg {
        width: 2em;
        height: 2em;
      }
    }

    a.instagram {
    }

    a.linkedin {
      color: #0e76a8;
    }
    
    a.github {
      color: #6e5494;
    }
  }
}
